- name: Add Canonical Partners PPA
  become: yes
  apt_repository:
    repo: deb http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner
    state: present

# - name: Add NordVPN APT signing Keys
#   apt_key:
#     url: https://repo.nordvpn.com/gpg/nordvpn_public.asc
#     state: present
# - name: Add NordVPN PPA
#   apt_repository:
#     repo: deb https://repo.nordvpn.com/deb/nordvpn/debian stable main
#     state: present

# - name: Add Tailscale APT signing Keys
#   apt_key:
#     url: https://pkgs.tailscale.com/stable/ubuntu/focal.gpg
#     state: present
# - name: Add Tailscale PPA
#   apt_repository:
#     repo: deb https://pkgs.tailscale.com/stable/ubuntu focal main
#     state: present