# - name: Remove Desktop APT Packages
#   apt:
#     name: "{{ rempackages }}"
#     state: absent
#   vars:
#     rempackages:
#       - libreoffice-*
#       - plank
#       - geary
#       - gnome-screenshot


- name: install software via apt
  become: yes
  apt:
    name: "{{ packages }}"
  vars:
    packages:
      - git
      - ppa-purge
      - peek
      - python3-pip
    #   - audacity
    #   - peek
      - xclip
      - ncdu
      - tmux
      - openssh-server
      - ubuntu-restricted-extras
      - lftp
      - htop
      - gnome-firmware
      - calibre
      - whois
      - python3-pip
      - flameshot
      - libcurl4
      - curl
      - gnupg-agent
      - font-manager
      - gnome-calculator
      - gnome-disk-utility
    #   - dlocate
      - ttf-mscorefonts-installer
      - fonts-emojione
      - fonts-noto-color-emoji
      - fonts-recommended
      - ppa-purge
      - seafile-cli
      - dialog
      # - pdfarranger
    #   - encfs
    #   - graphviz
    #   - zeitgeist
    #   - pulseaudio
    #   - pavucontrol
    #   - nordvpn
    #   - gocryptfs
    #   - sirikali
    #   - insync
    #   - insync-nemo
    #   - preload
      - jq
    #   - tailscale
    #   - syncthing
    #   - dh-make
    #   - solaar
    #   - piper
    #   - profile-sync-daemon
      - bat
    #   - seahorse
    #   - mcomix
    #   - powertop
    #   - flatpak
    #   - gnome-software-plugin-flatpak
    #   - stacer

# - name: Install Xmind .deb package.
#   apt:
#     deb: https://www.xmind.net/xmind/downloads/XMind-2020-for-Linux-amd-64bit-{{ xmind_version }}.deb

# - name: Install xbanish .deb package.
#   apt:
#     deb: https://launchpad.net/~minos-archive/+archive/ubuntu/main/+files/xbanish_202005040308+git46-minos~ubuntu20.04.1_amd64.deb

# - name: Install Espanso .deb package from Github.
#   apt:
#     deb: https://github.com/federico-terzi/espanso/releases/latest/download/espanso-debian-amd64.deb