---
# - name: removing unwanted snaps
#   become: yes
#   snap:
#     name: "{{ remsnaps }}"
#     state: absent
#   vars:
#     remsnaps:
#       - croc
#       - polar-bookshelf

- name: install general snap packages
  become: yes
  snap:
    name:
    #   - spotify
    #   - hiri
    #   - lxd
      - ncspot
    #   - simplescreenrecorder
      - bitwarden
      - bw
      - icdiff
#   - mumble
      - review-tools
      - standard-notes
      - scrcpy
    #   - htmldoc
    #   - libreoffice
      # - ephemeral
    #   - glimpse-editor
    #   - cheat
      - telegram-desktop
    #   - drawio
    #   - foliate
      - todoist
    #   - beekeeper-studio

- name: install general classic snap packages
  become: yes
  snap:
    name: "{{ classicsnaps }}"
    classic: yes
  vars:
    classicsnaps:
      - go
      - snapcraft
      - snapdiff
      - slack
      - kubectl

- name: Install Multipass Snap Package --channel=beta --classic
  become: yes
  snap:
    name: multipass
    channel: beta
    classic: yes

- name: Install Snap Packages from --channel=edge
  become: yes
  snap:
    name: "{{ edgesnaps }}"
    channel: edge
  vars:
    edgesnaps:
      - irccloud
      - authy
      - shfmt

- name: Install Snap Packages --channel=edge --classic
  become: yes
  snap:
    name: "{{ edgeclassicsnaps }}"
    channel: edge
    classic: yes
  vars:
    edgeclassicsnaps:
      - restic
      - espanso

- name: Install Hugo Snap Package --channel=extended/edge
  become: yes
  snap:
    name: hugo
    channel: extended/edge